#block1 {
    border-top: 100px;
    border-left: 100px;
    border-right: 100px;
    border-bottom: 100px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    margin-top: 1%;
    background-color:  yellowgreen;
    text-shadow: 1px 1px 1px
}
#block2 {
    font-size: 20px;
    margin-right: 10%;
    padding-top: 20%;
    margin-left: 10%;
    color: burlywood;
}